
/*===========General Styles==========*/
body {
    margin: 0%;
}

h1  {
    text-transform: uppercase;
    font-family: monospace 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 5%;
    color: black;
}

h1:hover {
   text-shadow: 2px 2px 2px chartreuse;
    transform: scale(1.1);
    transition: transform 1s;
    cursor: pointer;
}

.white-text {
    color: black;
}

p {
    font-family: 'Courier New', Courier, monospace bold;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

p:hover  {
    transform: scale(1.01);
    transition: transform 1s;
}

.center {
    text-align: center;
}

.center:hover {
    transition: tranform 2s;
    transform: scale(1.1);
}


a {
    color: blue;
}


q  {
    font-style: italic;
}

img {
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    transition: transform 1s;
    transform: scale(1.1);
    box-shadow: 0 0 10px chartreuse;
}

@media screen and (max-width: 576px) {
   img {
       height: 100px;
       margin-top: 150px;
   } 
}

footer  {
    padding: 1px;
    background-color: black;
    color: chartreuse;
}

/****END OF BASIC STYLING****/

/****NAVBAR STYLING******/
.navbar  {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;

}

@keyframes moveNav  {
    from{left: 100vw}
    to{right:0vw }
}


.navbar a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}